[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"

[packages]
asyncssh = "*"
sqlalchemy = "*"
arrow = "*"
methodtools = "*"

[requires]
python_version = "3.8.3"
